.butonsearch {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.barrederecherche {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.imageindice {
  margin-left: 20px;
}

.tableauresultat {
  border: 1px solid white !important;
  margin-top: 10%;
  margin-bottom: 20%;
}

.barre {
  border: 1px solid white !important;
}

th {
  padding: 2% 8px;
  width: 16.66%;
}
